Flask
Flask-CORS
gunicorn
pymongo[srv]
dnspython
google-generativeai
python-docx
unidecode
langdetect
cloudinary
requests
bson
cloudinary
dnspython
docx
Flask
Flask-CORS
google-generativeai
gunicorn
langdetect
pymongo[srv]
python-docx
requests
unidecode
werkzeug
