Flask
Flask-CORS
gunicorn
pymongo[srv]
dnspython
google-genai
python-docx
unidecode
langdetect
cloudinary
requests
werkzeug
pytest
python-dotenv
cloudinary
dnspython
Flask
Flask-CORS
google-genai
gunicorn
langdetect
pymongo[srv]
pytest
python-docx
python-dotenv
requests
unidecode
werkzeug
cloudinary
dnspython
Flask
Flask-CORS
google-genai
gunicorn
langdetect
pymongo[srv]
pytest
python-docx
python-dotenv
requests
unidecode
werkzeug
